- if @user.errors.any?
  %div{id: 'error_explanation', class: 'alert alert-danger'}
    %h2
      = "#{@user.errors.count} errors prohibited this user from being saved:"
    %ul
      - @user.errors.full_messages.each do |message|
        %li
          = message
