%header.navbar.navbar-fixed-top.navbar-inverse
  %div.container
    %nav.nav.navbar-nav.navbar-left
      %span Bookers
    %nav
      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          = render 'layouts/logged_in_header'
        - else
          = render 'layouts/logged_out_header'
